<p><strong>Submit a new Blog Post!</p></strong>
<form method='post' enctype='application/x-www-form-urlencoded' action='/create-post'>
<label>Blog Title: <input name='title'></label></p>
<p><label>Content: <textarea name='content'></textarea></label></p>
<p><button>Submit post</button></p>
</form>
